body {
  font-family: "Overpass", sans-serif;
  background-color: #cfd3ce;
}

h1 {
  color: #cfd3ce;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: "Overpass", sans-serif;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #cfd3ce;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
#title {
  text-align: center;
  color: #cfd3ce;
  font-family: "Biryani", sans-serif;
  font-weight: 500;
  font-size: 26px;
}
#city-input {
  border-color: #34626c;
  color: #34626c;
}

#current-location-button {
  background-color: #34626c;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bolder;
  transition: all 200ms ease;
}

#current-location-button:hover {
  cursor: pointer;
  background: #25474e;
}

#search-button {
  background-color: #34626c;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bolder;
  transition: all 200ms ease;
}

#search-button:hover {
  cursor: pointer;
  background: #25474e;
}

.weather-app {
  border: 4px solid #839b97;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 600px;
  background-color: #839b97;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
.intro {
  text-align: center;
}

#celsius-link {
  color: black;
}

#celsius-link:hover {
  cursor: pointer;
  font-weight: bold;
}

#fahrenheit-link {
  color: black;
}

#fahrenheit-link:hover {
  cursor: pointer;
  font-weight: bold;
}

#personal-info {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #34626c;
  font-family: "Overpass", sans-serif;
  transition: all 400ms ease;
}

#personal-info:hover {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.weather-forecast {
  margin-top: 20px;
}

.weather-forecast h3 {
  color: #34626c;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 8px;
  font-weight: bold;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #bbbbbb;
  font-size: 16px;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.active {
  text-decoration: underline;
}
